script(type="text/ng-template" id="quote.jade")
div(class="modal-content")
  div(class="modal-header")
    button(type="button" class="close" ng-click="cancel()" aria-hidden="true") &times;
    h4(class="modal-title") From #[em {{Quote.title}} ] ({{Quote.year | year}})
  div(class="modal-body")
    p {{Quote.paragraphtext}}
    div(class = "record-vote" style="text-align:right")
      a(href= "#" ng-click="upvote()")
        span(class="glyphicon glyphicon-menu-up" style="color:black")
      a(href= "#" ng-click="downvote()")
        span(class="glyphicon glyphicon-menu-down" style="color:black")
  div(class="modal-footer")
    div(class="ok")
      button(type="button" ng-click="ok()" class="btn btn-primary") OK
