extends layout

block content

  div(ng-controller="mainController")
    div(class="landing-header")
      div(class="navbar navbar-default")
        div(class="container-fluid")
          form(class="navbar-form navbar-left" role="search")
            div(class="form-group")
              input(type="text" class="form-control" placeholder="Find a word" ng-model="formData")
            button(type="submit" class="btn btn-default" ng-click = "searchFunction(formData)") Submit
      div(class="container-fluid")
        div(class="row")
          div(class="col-md-6")
          div(class="col-md-6 featured-quote" ng-show="quote") "{{quote[0].paragraphtext}}"
            p
              i --{{quote[0].title}}
