body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.landing-header{
  background-image: url("Charles-Dickens-poets-and-writers-35928206-2300-1437.jpg");
  height: 600px;
  position: relative;
  background-position: center center,
  float: left;
  width:100%;
  background-size: 100%;
  background-repeat: no-repeat;
}

.featured-quote:first-letter{
  text-transform: uppercase;
}

.featured-quote {
  padding-top: 80px;
  color: #424242;
  font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
	letter-spacing:0.1em;
	text-align:center;
	margin: 40px auto;
	text-transform: lowercase;
	line-height: 145%;
	font-size: 18pt;
	font-variant: small-caps;
}

.super{
  font-weight:bold;
  color: #800000;
}
